In [3]:
os.chdir('../')

In [4]:
import os
import pandas as pd

categories = ['sport', 'business', 'entertainment', 'politics', 'tech']  
articles_dir = 'archive_3/BBC News Summary/News Articles'
summaries_dir = 'archive_3/BBC News Summary/Summaries'

data = []

for category in categories:
    article_files = os.listdir(os.path.join(articles_dir, category))
    for file in article_files:
        with open(os.path.join(articles_dir, category, file), 'r', encoding='latin-1') as f:
            data.append({'text': f.read(), 'category': category})

df = pd.DataFrame(data)

In [5]:
df.head()

                                                text category
0  Claxton hunting first major medal\n\nBritish h...    sport
1  O'Sullivan could run in Worlds\n\nSonia O'Sull...    sport
2  Greene sets sights on world title\n\nMaurice G...    sport
3  IAAF launches fight against drugs\n\nThe IAAF ...    sport
4  Dibaba breaks 5,000m world record\n\nEthiopia'...    sport

In [6]:
df['category'].value_counts()

category
sport            511
business         510
politics         417
tech             401
entertainment    386
Name: count, dtype: int64

In [7]:
categories = ['sport', 'business', 'entertainment', 'politics', 'tech']  
articles_dir = 'archive_3/BBC News Summary/News Articles'
summaries_dir = 'archive_3/BBC News Summary/Summaries'

data = []

for category in categories:
    article_files = os.listdir(os.path.join(articles_dir, category))
    for file in article_files:
        with open(os.path.join(articles_dir, category, file), 'r', encoding='latin-1') as f_article, \
             open(os.path.join(summaries_dir, category, file), 'r', encoding='latin-1') as f_summary:
            data.append({'text': f_article.read(), 'summary': f_summary.read()})

df = pd.DataFrame(data)

In [8]:
df.head()

,text,summary
0,Claxton hunting first major medal\n\nBritish h...,"For the first time, Claxton has only been prep..."
1,O'Sullivan could run in Worlds\n\nSonia O'Sull...,"The participation of O'Sullivan, currentily tr..."
2,Greene sets sights on world title\n\nMaurice G...,I think when I was coming up I would say there...
3,IAAF launches fight against drugs\n\nThe IAAF ...,"""I am very happy to see you all, members of th..."
4,"Dibaba breaks 5,000m world record\n\nEthiopia'...",Ethiopia's Tirunesh Dibaba set a new world rec...

In [9]:
df.shape

(2225, 2)

In [10]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2225 entries, 0 to 2224
Data columns (total 2 columns):
 #   Column   Non-Null Count  Dtype
---  ------   --------------  -----
 0   text     2225 non-null   object
 1   summary  2225 non-null   object
dtypes: object(2)
memory usage: 34.9+ KB

In [11]:
import re
from nltk.corpus import stopwords
from nltk.stem import WordNetLemmatizer

def clean_text(text):
    # Lowercase the text
    text = text.lower()

    # Remove punctuation
    text = re.sub(r'[^\w\s]', '', text)

    # Remove stopwords
    stop_words = set(stopwords.words('english'))
    words = text.split()
    words = [word for word in words if word not in stop_words]
    text = ' '.join(words)

    # Lemmatize the words
    lemmatizer = WordNetLemmatizer()
    words = [lemmatizer.lemmatize(word) for word in words]
    text = ' '.join(words)

    return text

df['text'] = df['text'].apply(clean_text)
df['summary'] = df['summary'].apply(clean_text)

df.head()

,text,summary
0,claxton hunting first major medal british hurd...,first time claxton preparing campaign hurdle c...
1,osullivan could run world sonia osullivan indi...,participation osullivan currentily training ba...
2,greene set sight world title maurice greene ai...,think coming would say ato boldon young crowd ...
3,iaaf launch fight drug iaaf athletics world go...,happy see member athletics family respond posi...
4,dibaba break 5000m world record ethiopia tirun...,ethiopia tirunesh dibaba set new world record ...